.selectedMediafile {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}


.playSettings {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;

  > div {
    width: calc(33% - 10px);
    padding: 20px;
    margin: 5px;
    border: 1px solid gray;
    text-align: center;
  }
}
